header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    transition: top 0.3s linear;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.04);
    box-shadow: 0 0 25px 0px rgba($color: #000000, $alpha: 0.04);
}

.topbar {
    font-size: 2rem;
    background-color: #fff;

    .container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        padding: 1em 0.5em;
    }

    @include media-breakpoint-down(xl) {
        font-size: 1.8rem;
        .container {
            font-size: 0.9em;
        }
    }
}

.brand {
    font-size: 1.3em;
    font-weight: 700;
    color: $secondary;

    i {
        color: $primary;
    }
    &:hover,
    &:visited,
    &:focus {
        color: $secondary;
    }
}

.navbar {
    flex-grow: 1;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.navbar.mobile {
    flex-direction: column;
    flex-basis: 100%;
    display: none;

    .main-nav {
        flex-direction: column;
        align-items: flex-start;
        align-self: flex-start;
        margin-bottom: 1em;

        .nav-item {
            margin-left: 0;
            margin-top: 1em;
        }
    }

    @include media-breakpoint-down(lg) {
        &.collapsed {
            display: flex;
            animation: expand 0.3s linear forwards;
        }
    }
}

.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 0;
}

.nav-item {
    margin-left: 1em;

    .nav-links {
        font-weight: 500;
        color: rgba($color: #000000, $alpha: 0.63);
        text-transform: capitalize;
        transition: color 0.2s linear;

        &:hover,
        &:focus {
            color: $primary;
        }
    }

    &.active {
        .nav-links {
            color: $primary;
        }
    }
}

.sub-nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.button {
    font-weight: 500;
    text-transform: capitalize;

    margin-left: 1em;
}

.navbar-toggler {
    display: none;
    color: $primary;
    border-color: rgba($color: $primary, $alpha: 0.63);

    i {
        display: inline-block;
        transition: transform 0.2s linear;
    }

    &.active {
        i {
            transform: rotate(-90deg);
        }
    }

    @include media-breakpoint-down(lg) {
        display: inline-block;
    }
}

@keyframes expand {
    0% {
        visibility: hidden;
        max-height: 0px;
    }

    25% {
        visibility: visible;
    }

    100% {
        max-height: 320px;
    }
}
