.pricing {
    .row {
        align-items: center;
        justify-content: center;
    }
    .col {
        --bs-gutter-x: 3rem;
    }
}

.pricing__title {
    font-size: 2.2em;
    font-weight: 700;
    color: $secondary;
    text-align: center;

    margin-bottom: 2rem;
}

.pricing__pack {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    box-shadow: 0px 4px 24px 5px rgba($color: #000000, $alpha: 0.05),
        0 4px 0 0px rgba($color: #000000, $alpha: 0.1);
    padding: 4rem 4rem;
    margin-top: 2.5rem;

    transition: box-shadow 0.3s;
    &:hover {
        box-shadow: 0px 4px 24px 5px rgba($color: #000000, $alpha: 0.05),
            0 4px 0 0px $primary;
    }
}

.pricing__pack .cost {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;

    .name {
        font-size: 1.3em;
        font-weight: 600;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    .money {
        font-size: 3.2em;
        font-weight: 700;
        color: $secondary;

        margin: 1rem 0;
    }

    .expire-time {
        font-size: 1em;
        font-weight: 500;
        color: rgba($color: #000000, $alpha: 0.63);
        text-transform: capitalize;
    }
}

.benefit-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    padding-left: 0;
    margin: 2.5rem 0;

    .benefit {
        font-size: 1.125em;
        color: rgba($color: #000000, $alpha: 0.63);
        font-weight: 400;

        i {
            margin-right: 0.5em;
        }
    }
}

.pricing .purchase-button {
    font-size: 1em;
    text-transform: uppercase;
    margin: 1rem 2.5rem;
    padding: 1em 1.5em;
    border-radius: 5px;
    transition: all 0.3s;

    &:hover {
        color: #fff;
        background-color: $primary;
        border-color: #fff;
    }
}
