/* ROOT */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
//
@import 'variables';
@import 'lib';
@import 'common';

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Nunito', Helvetica, sans-serif;
    * {
        font-size: 1em;
    }
}
/* ROOT */
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import './header.scss';
@import './home.scss';
@import './about.scss';
@import './testimonials';
@import './partners.scss';
@import './section5.scss';
@import './section6.scss';
@import './teams.scss';
@import './works.scss';
